<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>CreateOppServlet</servlet-name>
        <servlet-class>za.ac.kbcs.web.CreateOppServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>za.ac.kbcs.web.AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectServlet</servlet-name>
        <servlet-class>za.ac.kbcs.web.ProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectTaskServlet</servlet-name>
        <servlet-class>za.ac.kbcs.web.ProjectTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>za.ac.kbcs.web.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContractServlet</servlet-name>
        <servlet-class>za.ac.kbcs.web.ContractServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadDBServlet</servlet-name>
        <servlet-class>za.ac.kbcs.web.FileUploadDBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadPdf</servlet-name>
        <servlet-class>za.ac.kbcs.web.FileUploadPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>za.ac.kbcs.web.Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>com.journaldev.servlet.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet1</servlet-name>
        <servlet-class>za.ac.kbcs.web.NewServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportCSVtoDB</servlet-name>
        <servlet-class>za.ac.kbcs.web.ImportCSVtoDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCSV</servlet-name>
        <servlet-class>za.ac.kbcs.web.SaveCSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Guru_download</servlet-name>
        <servlet-class>za.ac.kbcs.web.Guru_download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guru_upload</servlet-name>
        <servlet-class>za.ac.kbcs.web.guru_upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>file_download</servlet-name>
        <servlet-class>za.ac.kbcs.web.file_download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitProjectServlet</servlet-name>
        <servlet-class>za.ac.kbcs.web.SubmitProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContractServlet2</servlet-name>
        <servlet-class>za.ac.kbcs.web.ContractServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectServlet2</servlet-name>
        <servlet-class>za.ac.kbcs.web.ProjectServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailSending</servlet-name>
        <servlet-class>za.ac.kbcs.web.EmailSending</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailUtil</servlet-name>
        <servlet-class>za.ac.kbcs.web.EmailUtil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailSendingTask</servlet-name>
        <servlet-class>za.ac.kbcs.web.EmailSendingTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailSendingContract</servlet-name>
        <servlet-class>za.ac.kbcs.web.EmailSendingContract</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailSendingEmployees</servlet-name>
        <servlet-class>za.ac.kbcs.web.EmailSendingEmployees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OppArchieveServlet</servlet-name>
        <servlet-class>za.ac.kbcs.web.OppArchieveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesRestoreServlet</servlet-name>
        <servlet-class>za.ac.kbcs.web.SalesRestoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateEmployeeServlet2</servlet-name>
        <servlet-class>za.ac.kbcs.web.CreateEmployeeServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveTenders</servlet-name>
        <servlet-class>za.ac.kbcs.web.SaveTenders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportSCVtoDB2</servlet-name>
        <servlet-class>za.ac.kbcs.web.ImportSCVtoDB2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Guru_download2</servlet-name>
        <servlet-class>za.ac.kbcs.web.Guru_download2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateOppServlet</servlet-name>
        <url-pattern>/CreateOppServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/AccountServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectServlet</servlet-name>
        <url-pattern>/ProjectServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectTaskServlet</servlet-name>
        <url-pattern>/ProjectTaskServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/ContactServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContractServlet</servlet-name>
        <url-pattern>/ContractServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadDBServlet</servlet-name>
        <url-pattern>/FileUploadDBServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadPdf</servlet-name>
        <url-pattern>/FileUploadPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet1</servlet-name>
        <url-pattern>/NewServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportCSVtoDB</servlet-name>
        <url-pattern>/ImportCSVtoDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCSV</servlet-name>
        <url-pattern>/SaveCSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Guru_download</servlet-name>
        <url-pattern>/Guru_download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guru_upload</servlet-name>
        <url-pattern>/guru_upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>file_download</servlet-name>
        <url-pattern>/file_download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitProjectServlet</servlet-name>
        <url-pattern>/SubmitProjectServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContractServlet2</servlet-name>
        <url-pattern>/ContractServlet2.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectServlet2</servlet-name>
        <url-pattern>/ProjectServlet2.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServelet</servlet-name>
        <servlet-class>Model.LoginServelet</servlet-class>
    </servlet>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>za.ac.kbcs.web.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>za.ac.kbcs.web.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusinessServlet</servlet-name>
        <servlet-class>za.ac.kbcs.web.BusinessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BPVServlet</servlet-name>
        <servlet-class>za.ac.kbcs.web.BPVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>za.ac.kbcs.web.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>za.ac.kbcs.web.ReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvalidateServlet</servlet-name>
        <servlet-class>za.ac.kbcs.web.InvalidateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailSendingServlet</servlet-name>
        <servlet-class>za.ac.kbcs.web.EmailSendingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterBySourceServlet</servlet-name>
        <servlet-class>za.ac.kbcs.web.FilterBySourceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterBySourceServlet2</servlet-name>
        <servlet-class>za.ac.kbcs.web.FilterBySourceServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvalidateReport</servlet-name>
        <servlet-class>za.ac.kbcs.web.InvalidateReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvalidateReports</servlet-name>
        <servlet-class>za.ac.kbcs.web.InvalidateReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSelection</servlet-name>
        <servlet-class>za.ac.kbcs.web.ServletSelection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortServlet</servlet-name>
        <servlet-class>za.ac.kbcs.web.SortServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRecordServ</servlet-name>
        <servlet-class>za.ac.kbcs.web.DeleteRecordServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortServletName</servlet-name>
        <servlet-class>za.ac.kbcs.web.SortServletName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortServlet3</servlet-name>
        <servlet-class>za.ac.kbcs.web.SortServlet3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterBySourceServlet3</servlet-name>
        <servlet-class>za.ac.kbcs.web.FilterBySourceServlet3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SourceServlet2</servlet-name>
        <servlet-class>za.ac.kbcs.web.SourceServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSave</servlet-name>
        <servlet-class>za.ac.kbcs.web.ServletSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Link</servlet-name>
        <servlet-class>za.ac.kbcs.web.Link</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateEmployeeServlet</servlet-name>
        <servlet-class>za.ac.kbcs.web.CreateEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUpdateBP</servlet-name>
        <servlet-class>za.ac.kbcs.web.ServletUpdateBP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OpportunityServlet</servlet-name>
        <servlet-class>za.ac.kbcs.web.OpportunityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Link2</servlet-name>
        <servlet-class>za.ac.kbcs.web.Link2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>za.ac.kbcs.web.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet2</servlet-name>
        <servlet-class>za.ac.kbcs.web.SearchServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServelet</servlet-name>
        <url-pattern>/LoginServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusinessServlet</servlet-name>
        <url-pattern>/BusinessServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BPVServlet</servlet-name>
        <url-pattern>/BPVServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ReportServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvalidateServlet</servlet-name>
        <url-pattern>/InvalidateServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailSendingServlet</servlet-name>
        <url-pattern>/EmailSendingServlet.do</url-pattern>
    </servlet-mapping>
    <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>shezict@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>cayshezi</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>FilterBySourceServlet</servlet-name>
        <url-pattern>/FilterBySourceServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterBySourceServlet2</servlet-name>
        <url-pattern>/FilterBySourceServlet2.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvalidateReport</servlet-name>
        <url-pattern>/InvalidateReport.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvalidateReports</servlet-name>
        <url-pattern>/InvalidateReports.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSelection</servlet-name>
        <url-pattern>/ServletSelection.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortServlet</servlet-name>
        <url-pattern>/SortServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRecordServ</servlet-name>
        <url-pattern>/DeleteRecordServ.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortServletName</servlet-name>
        <url-pattern>/SortServletName.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortServlet3</servlet-name>
        <url-pattern>/SortServlet3.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterBySourceServlet3</servlet-name>
        <url-pattern>/FilterBySourceServlet3.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SourceServlet2</servlet-name>
        <url-pattern>/SourceServlet2.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSave</servlet-name>
        <url-pattern>/ServletSave.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Link</servlet-name>
        <url-pattern>/Link</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateEmployeeServlet</servlet-name>
        <url-pattern>/CreateEmployeeServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUpdateBP</servlet-name>
        <url-pattern>/ServletUpdateBP.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OpportunityServlet</servlet-name>
        <url-pattern>/OpportunityServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Link2</servlet-name>
        <url-pattern>/Link2.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet2</servlet-name>
        <url-pattern>/SearchServlet2.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailSending</servlet-name>
        <url-pattern>/EmailSending</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailUtil</servlet-name>
        <url-pattern>/EmailUtil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailSendingTask</servlet-name>
        <url-pattern>/EmailSendingTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailSendingContract</servlet-name>
        <url-pattern>/EmailSendingContract</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailSendingEmployees</servlet-name>
        <url-pattern>/EmailSendingEmployees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OppArchieveServlet</servlet-name>
        <url-pattern>/OppArchieveServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesRestoreServlet</servlet-name>
        <url-pattern>/SalesRestoreServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateEmployeeServlet2</servlet-name>
        <url-pattern>/CreateEmployeeServlet2.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveTenders</servlet-name>
        <url-pattern>/SaveTenders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportSCVtoDB2</servlet-name>
        <url-pattern>/ImportSCVtoDB2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Guru_download2</servlet-name>
        <url-pattern>/Guru_download2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
